<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding footballers</title>
    <script>
        function handleTeamSelection() {
            var teamSelect = document.getElementById("teamSelect");
            var teamInput = document.getElementById("teamInput");

            teamInput.disabled = teamSelect.value !== "";
        }

        function handleTeamInput() {
            var teamSelect = document.getElementById("teamSelect");
            var teamInput = document.getElementById("teamInput");

            teamSelect.disabled = teamInput.value !== "";
        }
    </script>
</head>
<body>
<form th:action="@{/footballers/addNewFootballer}" method="post" th:object="${footballer}">
    <label> Имя: <input type="text" name="firstname" th:field="*{firstName}"/> </label><br>
    <label> Фамилия: <input type="text" name="lastname" th:field="*{lastName}"/> </label><br>
    <label> Пол:
        <select name="gender" th:field="*{gender}">
            <option th:each="gender : ${T(ru.bit66.catalogfootballplayers.enums.Gender).values()}"
                    th:value="${gender}" th:text="${gender.getCurrentGender()}"></option>
        </select>
    </label><br>
    <label> Дата рождения: <input type="date" name="birthdate" th:field="*{birthDate}"/> </label><br>

    <label th:field="*{birthDate}"> Выберите команду:
        <select id="teamSelect" name="team" onchange="handleTeamSelection()">
            <option value="">Выберите команду</option>
            <option th:each="team : ${footballTeams}" th:value="${team.id}" th:text="${team.name}"></option>
        </select>
    </label><br>
    <label> Или введите новую команду:
        <input id="teamInput" type="text" name="teamInput"
               th:field="*{newEnteredTeam}" oninput="handleTeamInput()"/>
    </label><br>

    <label> Страна:
        <select name="country" th:field="*{country}">
            <option th:each="countryName : ${T(ru.bit66.catalogfootballplayers.enums.Country).values()}"
                    th:value="${countryName}" th:text="${countryName.getCurrentCountry()}"></option>
        </select>
    </label><br>

    <label><input type="submit" value="Добавить пользователя"/></label><br>
</form>
<a th:href="@{/footballers/allFootballers}">Все футболисты</a>
</body>
</html>