<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All footballers</title>
  <link rel="stylesheet" href="/css/tableStyle.css">
</head>
<body>
<h1>All footballers</h1>
<table>
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Birth day</th>
    <th>Gender</th>
    <th>Country</th>
    <th>Team</th>
    <th></th>
  </tr>
  </thead>
  <tbody id="footballers-data">
  <tr th:each="footballer : ${allFootballers}">
    <td th:text="${footballer.firstName}"></td>
    <td th:text="${footballer.lastName}"></td>
    <td th:text="${footballer.birthDate}"></td>
    <td th:text="${footballer.gender}"></td>
    <td th:text="${footballer.country.getCurrentCountry()}"></td>
    <td th:text="${footballer.team.getName()}"></td>
    <td>
      <a th:href="@{/footballers/edit/{id}(id=${footballer.id})}">
        Редактировать данные
      </a>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{/footballers}">Добавить футболиста</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/updatedFootballers.js"></script>
</body>
</html>